* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 96%;
  margin: 2%;
  margin-bottom: 5px;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
  margin: 10px;
}
form button {
  width: 8%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  float: right;
  margin-top: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 140px;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
.disabled {
  background-color: rgb(128, 128, 128);
}
