/*body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}*/
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
canvas{
    display: none;
}
