<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LiveMessenger</title>
  <link rel="stylesheet" href="/style/msg.css" />
  <link rel="shortcut icon" type="image/jpg"
    href="https://uploads.marksism.space/image/6d1d957424e6e13d4762636bc1b1a503.png" />

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!--Bootstrap v4.5.2-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


</head>
<body>
  <h1>Welcome to LiveMessenger</h1>
  <ul>
    <% for( let index = 0; index < 5; index++ ) { %>
      <ul>
        <li>
          <a href="#">Connect to <b>Room <%- index+1 %></b> (0/5)</a>
        </li>
      </ul>
    <% } %>
  </ul>
</body>
</html>