<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LiveMessenger</title>
    <link rel="stylesheet" href="/style/msg.css" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://uploads.marksism.space/image/6d1d957424e6e13d4762636bc1b1a503.png"
    />

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      let form = document.getElementById("sendForm");
      let send = document.getElementById("send");

      const socket = io();

      socket.on("connect", () => {
        $(function () {
          var socket = io();
          $("#sendForm").submit(function (e) {
            e.preventDefault();
            let jsonObj = {
              msg: $("#send").val(),
              usr: $("#user").val()
            }
            socket.emit("msg", jsonObj);
            $("#send").val("");
            return false;
          });
          socket.on("msg", function (msg) {
            $("#messages").append($("<li>").text("<b>" + msg.usr + ": </b>" +  msg.msg));
          });
        });
      });
    </script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="sendForm" action="">
      <input id="send" autocomplete="off" />
      <button>Send</button>
      <input id="user" type="text">
    </form>
  </body>
</html>
