<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New Room - LiveMessenger</title>
    <script>
        function registerRoom() {
            let errorText = document.getElementById("errorText");


            console.log("room Creation maybe");
            let request = new XMLHttpRequest();
            let roomName = document.getElementById("roomName").value;
            let desc = document.getElementById("desc").value;
            let maxUsers = document.getElementById("maxUsers").value;
            request.open("POST", "/newRoom", true);
            request.setRequestHeader(
                "Content-type",
                "application/x-www-form-urlencoded"
            );
            request.send(`roomName=${roomName}&desc=${desc}&maxUsers=${maxUsers}`);
            request.onreadystatechange = function () {
                if (request.response == "taken") {
                    errorText.innerHTML = "Room Name taken!";
                } else if (request.status == 500) {
                    errorText.innerHTML = "Error occured!";
                } else if (request.status == 201) {
                    window.location = "/lobby";
                }
            };
        }
    </script>
</head>

<body>
<h1>LiveMessenger - Register new Room</h1>
<p>Create a new Chatting Room! Choose a Room name and max users! Room will be public for all to see!</p>
<p>Max Users have a limit to 50!</p>
<form onsubmit="registerRoom();return false;">
    <input type="text" placeholder="Room Name" name="roomName" id="roomName" maxlength="25"/>
    <br/>
    <input type="text" placeholder="Description" name="desc" id="desc" maxlength="50"/>
    <input type="number" placeholder="Max Users" id="maxUsers" name="maxUsers" min="1" max="50"/>
    <p id="errorText">
        <br/>
    </p>
    <input type="submit" value="Register"/>
</form>
</body>
</html>